<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
    <h1 style="text-align: center;color: red;">viewbook</h1>
    <tr>
        <th>title</th>
        <th>author</th>
        <th>price</th>
        <th>pub_date</th>
        <th>description</th>
        <th>action</th>
    </tr>
    {% for i in ab %}
    <tr>
        
        <td>{{i.title}}</td>
        <td>{{i.author}}</td>
        <td>{{i.price}}</td>
        <td>{{i.pub_date}}</td>
        <td>{{i.description}}</td>
        <td><a href="{%url 'updatebook' i.id%}">update</a></td>
        <td><a href="{%url 'deletebook' i.id%}">delete</a></td>

    </tr>
    {% endfor %}
    </table>
    <a href="{% url 'addbook'%}">Add Book</a>
</body>
</html>